body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn
{
  background-color: #556CD6;
  width : 20%;
  margin : 0 auto;
  font-size: 1.2em;
}
.media
{
  width:90%;
}
.ecosystem,.Education
{
  width:85%;
}
a
{
   text-decoration: none;
}
.logo
{
  width:37%;
}
.navbar
{
  background-color:#fff ;
}

.nav-link
{
  margin-left: 40px;
}

form
{
  margin-left:200px;
}
.footer-para
{
  font-size: 12px;
}
footer a
{
  text-decoration: none;
}
.aboutPara
{
  font-size:1.2em;
  line-height: 1.7;
}
.Arushi
{
  border-radius: 100%;
  width:50%;
}
.learnMore
{
  margin-left:50px;
}
ul{
  text-align: left;
  line-height: 1.8;
  font-size:14px;
}